<!DOCTYPE html>
<html>
<head>
<title>Account</title>
<link href="/cpts/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/cpts/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/cpts/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Free Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/cpts/js/move-top.js"></script>
<script type="text/javascript" src="/cpts/js/easing.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
				</script>	
<!-- start menu -->
<script src="/cpts/js/simpleCart.min.js"> </script>
<link href="/cpts/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/cpts/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>				
</head>
<body> 
	<!--top-header-->
	<div class="top-header">
	<div class="container">
		<div class="top-header-main">
			<div class="col-md-4 top-header-left">
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div>
			</div>
			<div class="col-md-4 top-header-middle">
				<a href="/cpts/index.html"><img src="/cpts/images/logo-4.png" alt="" /></a>
			</div>
			<div class="col-md-4 top-header-right">
				<div class="cart box_1">
						<a href="/cpts/checkout.html">
						<h3> <div class="total">
							<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
							<img src="/cpts/images/cart-1.png" alt=""/></h3>
						</a>
						<p><a href="/cpts/javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--top-header-->
<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="top-nav">
				<ul class="memenu skyblue"><li class="active"><a href="/cpts/index.html">Home</a></li>
					<li class="grid"><a href="/cpts/#">Men</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Shop</h4>
									<ul>
										<li><a href="/cpts/products.html">New Arrivals</a></li>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">login</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">My Shopping Bag</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Style Zone</h4>
									<ul>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Style Videos</a></li>
									</ul>	
								</div>
								<div class="col1 me-one">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/cpts/products.html">Levis</a></li>
										<li><a href="/cpts/products.html">Persol</a></li>
										<li><a href="/cpts/products.html">Nike</a></li>
										<li><a href="/cpts/products.html">Edwin</a></li>
										<li><a href="/cpts/products.html">New Balance</a></li>
										<li><a href="/cpts/products.html">Jack & Jones</a></li>
										<li><a href="/cpts/products.html">Paul Smith</a></li>
										<li><a href="/cpts/products.html">Ray-Ban</a></li>
										<li><a href="/cpts/products.html">Wood Wood</a></li>
									</ul>	
								</div>
							</div>
						</div>
					</li>
					<li class="grid"><a href="/cpts/#">Women</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Shop</h4>
									<ul>
										<li><a href="/cpts/products.html">New Arrivals</a></li>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">login</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">My Shopping Bag</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Style Zone</h4>
									<ul>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Style Videos</a></li>
									</ul>	
								</div>
								<div class="col1 me-one">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/cpts/products.html">Levis</a></li>
										<li><a href="/cpts/products.html">Persol</a></li>
										<li><a href="/cpts/products.html">Nike</a></li>
										<li><a href="/cpts/products.html">Edwin</a></li>
										<li><a href="/cpts/products.html">New Balance</a></li>
										<li><a href="/cpts/products.html">Jack & Jones</a></li>
										<li><a href="/cpts/products.html">Paul Smith</a></li>
										<li><a href="/cpts/products.html">Ray-Ban</a></li>
										<li><a href="/cpts/products.html">Wood Wood</a></li>
									</ul>	
								</div>
							</div>
						</div>
					</li>
					<li class="grid"><a href="/cpts/#">Kids</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Shop</h4>
									<ul>
										<li><a href="/cpts/products.html">New Arrivals</a></li>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">login</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">My Shopping Bag</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Style Zone</h4>
									<ul>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Style Videos</a></li>
									</ul>	
								</div>
								<div class="col1 me-one">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/cpts/products.html">Levis</a></li>
										<li><a href="/cpts/products.html">Persol</a></li>
										<li><a href="/cpts/products.html">Nike</a></li>
										<li><a href="/cpts/products.html">Edwin</a></li>
										<li><a href="/cpts/products.html">New Balance</a></li>
										<li><a href="/cpts/products.html">Jack & Jones</a></li>
										<li><a href="/cpts/products.html">Paul Smith</a></li>
										<li><a href="/cpts/products.html">Ray-Ban</a></li>
										<li><a href="/cpts/products.html">Wood Wood</a></li>
									</ul>	
								</div>
							</div>
						</div>
					</li>
					<li class="grid"><a href="/cpts/#">Sports</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Shop</h4>
									<ul>
										<li><a href="/cpts/products.html">New Arrivals</a></li>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">login</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">My Shopping Bag</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Style Zone</h4>
									<ul>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Style Videos</a></li>
									</ul>	
								</div>
								<div class="col1 me-one">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/cpts/products.html">Levis</a></li>
										<li><a href="/cpts/products.html">Persol</a></li>
										<li><a href="/cpts/products.html">Nike</a></li>
										<li><a href="/cpts/products.html">Edwin</a></li>
										<li><a href="/cpts/products.html">New Balance</a></li>
										<li><a href="/cpts/products.html">Jack & Jones</a></li>
										<li><a href="/cpts/products.html">Paul Smith</a></li>
										<li><a href="/cpts/products.html">Ray-Ban</a></li>
										<li><a href="/cpts/products.html">Wood Wood</a></li>
									</ul>	
								</div>
							</div>
						</div>
					</li>
					<li class="grid"><a href="/cpts/#">Brands</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Shop</h4>
									<ul>
										<li><a href="/cpts/products.html">New Arrivals</a></li>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">login</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">My Shopping Bag</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Style Zone</h4>
									<ul>
										<li><a href="/cpts/products.html">Men</a></li>
										<li><a href="/cpts/products.html">Women</a></li>
										<li><a href="/cpts/products.html">Brands</a></li>
										<li><a href="/cpts/products.html">Kids</a></li>
										<li><a href="/cpts/products.html">Accessories</a></li>
										<li><a href="/cpts/products.html">Style Videos</a></li>
									</ul>	
								</div>
								<div class="col1 me-one">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/cpts/products.html">Levis</a></li>
										<li><a href="/cpts/products.html">Persol</a></li>
										<li><a href="/cpts/products.html">Nike</a></li>
										<li><a href="/cpts/products.html">Edwin</a></li>
										<li><a href="/cpts/products.html">New Balance</a></li>
										<li><a href="/cpts/products.html">Jack & Jones</a></li>
										<li><a href="/cpts/products.html">Paul Smith</a></li>
										<li><a href="/cpts/products.html">Ray-Ban</a></li>
										<li><a href="/cpts/products.html">Wood Wood</a></li>
									</ul>	
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--bottom-header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/cpts/index.html">Home</a></li>
					<li class="active">Account</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-account-->
	<div class="account">
		<div class="container"> 
			<div class="account-bottom">
				<div class="col-md-6 account-left">
					<form>
					<div class="account-top heading">
						<h3>NEW CUSTOMERS</h3>
					</div>
					<div class="address">
						<span>First Name</span>
						<input type="text">
					</div>
					<div class="address">
						<span>Last Name</span>
						<input type="text">
					</div>
					<div class="address">
						<span>Email Address</span>
						<input type="text">
					</div>
					<div class="address">
						<span>Password</span>
						<input type="text">
					</div>
					<div class="address">
						<span>Reenter Password</span>
						<input type="text">
					</div>
					<div class="address new">
						<input type="submit" value="submit">
					</div>
					</form>
				</div>
				<div class="col-md-6 account-left">
					<form>
					<div class="account-top heading">
						<h3>REGISTERED CUSTOMERS</h3>
					</div>
					<div class="address">
						<span>Email Address</span>
						<input type="text">
					</div>
					<div class="address">
						<span>Password</span>
						<input type="text">
					</div>
					<div class="address">
						<a class="forgot" href="/cpts/#">Forgot Your Password?</a>
						<input type="submit" value="Login">
					</div>
				</div>
				</form>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-account-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-3 footer-left">
					<h3>ABOUT US</h3>
					<ul>
						<li><a href="/cpts/#">Who We Are</a></li>
						<li><a href="/cpts/contact.html">Contact Us</a></li>
						<li><a href="/cpts/#">Our Sites</a></li>
						<li><a href="/cpts/#">In The News</a></li>
						<li><a href="/cpts/#">Team</a></li>
						<li><a href="/cpts/#">Carrers</a></li>					 
					</ul>
				</div>
				<div class="col-md-3 footer-left">
					<h3>YOUR ACCOUNT</h3>
					<ul>
						<li><a href="/cpts/account.html">Your Account</a></li>
						<li><a href="/cpts/#">Personal Information</a></li>
						<li><a href="/cpts/contact.html">Addresses</a></li>
						<li><a href="/cpts/#">Discount</a></li>
						<li><a href="/cpts/#">Track your order</a></li>					 					 
					</ul>
				</div>
				<div class="col-md-3 footer-left">
					<h3>CUSTOMER SERVICES</h3>
					<ul>
						<li><a href="/cpts/#">FAQ</a></li>
						<li><a href="/cpts/#">Shipping</a></li>
						<li><a href="/cpts/#">Cancellation</a></li>
						<li><a href="/cpts/#">Returns</a></li>
						<li><a href="/cpts/#">Bulk Orders</a></li>
						<li><a href="/cpts/#">Buying Guides</a></li>					 
					</ul>
				</div>
				<div class="col-md-3 footer-left">
					<h3>CATEGORIES</h3>
					<ul>
						<li><a href="/cpts/#">Sports Shoes</a></li>
						<li><a href="/cpts/#">Casual Shoes</a></li>
						<li><a href="/cpts/#">Formal Shoes</a></li>
						<li><a href="/cpts/#">Party Shoes</a></li>
						<li><a href="/cpts/#">Ethnic</a></li>				 
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-footer-->
	<!--end-footer-text-->
	<div class="footer-text">
		<div class="container">
			<div class="footer-main">
				<p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="/cpts/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="/cpts/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="/cpts/#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-text-->	
</body>
</html>