<!DOCTYPE html>
<html>
<head><title>私募预约申请（年满80周岁）- - </title></head>
<body bgcolor='#ffffff'>
<div>您好：</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兹有客户於 time 在諾亞海外通提交了<span style="font-weight: bold">私募預約</span>申請，我們檢測到產品到期前該用戶將會
</div>
<div>年滿80周歲，<span style="color: red">請回復郵件並註明批準與否</span>，客戶申請私募信息如下：</div>
<div>
    <table style="margin-left: 30px">
        <tr>
            <th align="right" style="color: #717171">姓名：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">客戶號：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">產品中文名稱：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">產品英文名稱：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">產品鎖定年期：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">客戶出生日期：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">私募預約金額：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">幣種：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">Product Code：</th>
            <th align="left">123</th>
        </tr>
        <tr>
            <th align="right" style="color: #717171">流水號：</th>
            <th align="left">123</th>
        </tr>
    </table>
</div>
<div>煩請您跟進處理，謝謝！</div>
<div>本郵件由諾亞海外通系統自動發送，請勿直接回復，如果有任何問題，請聯系6677</div>
</body>
</html>
