<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.ExportMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dao.model.Export">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="high" jdbcType="VARCHAR" property="high" />
    <result column="h1" jdbcType="VARCHAR" property="h1" />
    <result column="h2" jdbcType="VARCHAR" property="h2" />
    <result column="a3" jdbcType="VARCHAR" property="a3" />
    <result column="a4" jdbcType="VARCHAR" property="a4" />
    <result column="r5" jdbcType="VARCHAR" property="r5" />
    <result column="t6" jdbcType="VARCHAR" property="t6" />
    <result column="t7" jdbcType="VARCHAR" property="t7" />
    <result column="u8" jdbcType="VARCHAR" property="u8" />
    <result column="u9" jdbcType="VARCHAR" property="u9" />
    <result column="o10" jdbcType="VARCHAR" property="o10" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, sex, high, h1, h2, a3, a4, r5, t6, t7, u8, u9, o10
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.dao.model.ExportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from export
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from export
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from export
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.dao.model.ExportExample">
    delete from export
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.dao.model.Export">
    insert into export (id, name, sex, high, 
      h1, h2, a3, a4, 
      r5, t6, t7, u8, 
      u9, o10)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{high,jdbcType=VARCHAR}, 
      #{h1,jdbcType=VARCHAR}, #{h2,jdbcType=VARCHAR}, #{a3,jdbcType=VARCHAR}, #{a4,jdbcType=VARCHAR}, 
      #{r5,jdbcType=VARCHAR}, #{t6,jdbcType=VARCHAR}, #{t7,jdbcType=VARCHAR}, #{u8,jdbcType=VARCHAR}, 
      #{u9,jdbcType=VARCHAR}, #{o10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.dao.model.Export">
    insert into export
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="high != null">
        high,
      </if>
      <if test="h1 != null">
        h1,
      </if>
      <if test="h2 != null">
        h2,
      </if>
      <if test="a3 != null">
        a3,
      </if>
      <if test="a4 != null">
        a4,
      </if>
      <if test="r5 != null">
        r5,
      </if>
      <if test="t6 != null">
        t6,
      </if>
      <if test="t7 != null">
        t7,
      </if>
      <if test="u8 != null">
        u8,
      </if>
      <if test="u9 != null">
        u9,
      </if>
      <if test="o10 != null">
        o10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="high != null">
        #{high,jdbcType=VARCHAR},
      </if>
      <if test="h1 != null">
        #{h1,jdbcType=VARCHAR},
      </if>
      <if test="h2 != null">
        #{h2,jdbcType=VARCHAR},
      </if>
      <if test="a3 != null">
        #{a3,jdbcType=VARCHAR},
      </if>
      <if test="a4 != null">
        #{a4,jdbcType=VARCHAR},
      </if>
      <if test="r5 != null">
        #{r5,jdbcType=VARCHAR},
      </if>
      <if test="t6 != null">
        #{t6,jdbcType=VARCHAR},
      </if>
      <if test="t7 != null">
        #{t7,jdbcType=VARCHAR},
      </if>
      <if test="u8 != null">
        #{u8,jdbcType=VARCHAR},
      </if>
      <if test="u9 != null">
        #{u9,jdbcType=VARCHAR},
      </if>
      <if test="o10 != null">
        #{o10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.dao.model.ExportExample" resultType="java.lang.Long">
    select count(*) from export
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update export
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.high != null">
        high = #{record.high,jdbcType=VARCHAR},
      </if>
      <if test="record.h1 != null">
        h1 = #{record.h1,jdbcType=VARCHAR},
      </if>
      <if test="record.h2 != null">
        h2 = #{record.h2,jdbcType=VARCHAR},
      </if>
      <if test="record.a3 != null">
        a3 = #{record.a3,jdbcType=VARCHAR},
      </if>
      <if test="record.a4 != null">
        a4 = #{record.a4,jdbcType=VARCHAR},
      </if>
      <if test="record.r5 != null">
        r5 = #{record.r5,jdbcType=VARCHAR},
      </if>
      <if test="record.t6 != null">
        t6 = #{record.t6,jdbcType=VARCHAR},
      </if>
      <if test="record.t7 != null">
        t7 = #{record.t7,jdbcType=VARCHAR},
      </if>
      <if test="record.u8 != null">
        u8 = #{record.u8,jdbcType=VARCHAR},
      </if>
      <if test="record.u9 != null">
        u9 = #{record.u9,jdbcType=VARCHAR},
      </if>
      <if test="record.o10 != null">
        o10 = #{record.o10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update export
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=CHAR},
      high = #{record.high,jdbcType=VARCHAR},
      h1 = #{record.h1,jdbcType=VARCHAR},
      h2 = #{record.h2,jdbcType=VARCHAR},
      a3 = #{record.a3,jdbcType=VARCHAR},
      a4 = #{record.a4,jdbcType=VARCHAR},
      r5 = #{record.r5,jdbcType=VARCHAR},
      t6 = #{record.t6,jdbcType=VARCHAR},
      t7 = #{record.t7,jdbcType=VARCHAR},
      u8 = #{record.u8,jdbcType=VARCHAR},
      u9 = #{record.u9,jdbcType=VARCHAR},
      o10 = #{record.o10,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.dao.model.Export">
    update export
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="high != null">
        high = #{high,jdbcType=VARCHAR},
      </if>
      <if test="h1 != null">
        h1 = #{h1,jdbcType=VARCHAR},
      </if>
      <if test="h2 != null">
        h2 = #{h2,jdbcType=VARCHAR},
      </if>
      <if test="a3 != null">
        a3 = #{a3,jdbcType=VARCHAR},
      </if>
      <if test="a4 != null">
        a4 = #{a4,jdbcType=VARCHAR},
      </if>
      <if test="r5 != null">
        r5 = #{r5,jdbcType=VARCHAR},
      </if>
      <if test="t6 != null">
        t6 = #{t6,jdbcType=VARCHAR},
      </if>
      <if test="t7 != null">
        t7 = #{t7,jdbcType=VARCHAR},
      </if>
      <if test="u8 != null">
        u8 = #{u8,jdbcType=VARCHAR},
      </if>
      <if test="u9 != null">
        u9 = #{u9,jdbcType=VARCHAR},
      </if>
      <if test="o10 != null">
        o10 = #{o10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.dao.model.Export">
    update export
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      high = #{high,jdbcType=VARCHAR},
      h1 = #{h1,jdbcType=VARCHAR},
      h2 = #{h2,jdbcType=VARCHAR},
      a3 = #{a3,jdbcType=VARCHAR},
      a4 = #{a4,jdbcType=VARCHAR},
      r5 = #{r5,jdbcType=VARCHAR},
      t6 = #{t6,jdbcType=VARCHAR},
      t7 = #{t7,jdbcType=VARCHAR},
      u8 = #{u8,jdbcType=VARCHAR},
      u9 = #{u9,jdbcType=VARCHAR},
      o10 = #{o10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectDifferentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from export
    where id &lt; #{id,jdbcType=INTEGER}
  </select>
</mapper>